* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variable */
:root {
    /* Colors */
    --font-primary-color: #161617;
    --font-secondary-color: #ffffff;
    --bg-primary-color: #ffffff;
    --bg-secondary-color: #161617;
    --bg-tertiary-color: #999999;
    --primary-color: #0066cc;
    --primary-interactive-color: #0071e3;
    --secondary-color: #f5f5f7;
    --secondary-interactive-color: #ff8c42;
    --footer-text: #f5f5f7;

    /* Font sizes */
    --font-title: 1.75rem;
    --font-heading: 1.5rem;
    --font-sub-heading: 1.25rem;
    --font-medium: 1rem;
    --font-small: .85rem;

    /* Font weight */
    --font-weight-thin: 300;
    --font-weight-normal-thin: 400;
    --font-weight-normal: 500;
    --font-weight-bold: 700;
    --font-weight-extrabold: 900;

    /* Font Style */
    --font-family-content: "Inter", sans-serif;
}

/* General */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--bg-primary-color);
}



a {
    text-decoration: none;
    color: var(--font-secondary-color);
}

p {
    font-size: var(--font-medium);
}

/* Images */
img {
    width: 100%;
    height: auto;
}

.social-links a img {
    transition: fill 0.5s ease;
    cursor: pointer;
}

.social-icons {
    width: 25px;
    height: 25px;
}

footer {
    color: white;
}

.creator img {
    width: 24px;
    border-radius: 4px;
}

/* Buttons */
.btn {
    font-size: var(--font-small);
    padding: .65rem 1rem;
    border-radius: 30px;
    font-weight: var(--font-weight-normal-thin);
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-interactive-color);
}

.btn-secondary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
}

.btn-secondary:hover {
    color: var(--font-secondary-color);
    background-color: var(--primary-interactive-color);
    border: none;
}

/* Navigation */
header {
    position: relative;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem 1rem;
    background-color: rgb(22, 22, 23);
}

.navbar a {
    color: var(--font-secondary-color);
}

.bar {
    height: 2px;
    width: 20px;
    background-color: var(--bg-tertiary-color);
    color: var(--bg-tertiary-color);
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Hamburguer menu */
.menu {
    display: none;
    background-color: var(--bg-secondary-color);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    transition: all .3s ease;
}

.menu-active {
    display: flex;
    flex-direction: column;
    transform: translateY(0);
}

li a {
    list-style: none;
    color: var(--bg-tertiary-color);
    cursor: pointer;
}

.menu li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu li:hover {
    background-color: var(--bg-tertiary-color);
}

.menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    width: 20px;
}

.menu-icon.open .bar:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.menu-icon.open .bar:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    top: -5px;
}

/* Hamb menu list */
.menu-list li {
    display: flex;
    align-items: center;
    height: 5rem;
    cursor: pointer;
}

.menu-list li a {
    padding-left: 2.5rem;
    font-size: 1.75rem;
    font-weight: var(--font-weight-normal);
    color: var(--font-secondary-color);
}

/* Hero */
#hero {
    position: relative;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img,
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-img {
    z-index: 1;
}

.hero-img .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.content {
    position: relative;
    z-index: 3;
    text-align: center;
}

.content h1 {
    margin: 0 auto 2rem auto;
    width: 70%;
    color: var(--font-secondary-color);
    font-size: var(--font-title);
    line-height: 1.5;
}

.social-links {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    right: 1rem;
}

.content .btn-secondary {
    margin-left: 1rem;
}

/* Creator */
.creator {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: var(--bg-secondary-color);
    color: var(--font-secondary-color);
}

.creator p {
    font-size: .85rem;
}

.creator-container {
    position: relative;
    cursor: pointer;
    text-align: center;
    width: 110px;
    padding: .5rem 0;
}

.creator-container:hover {
    background-color: var(--secondary-interactive-color);
}

/* Info */
#info {
    display: flex;
    flex-direction: column;
}

.info-header {
    margin: .75rem;
    height: auto;
}

.info-header {
    position: relative;
}

.section-header {
    position: absolute;
    color: var(--font-secondary-color);
    width: 100%;
    text-align: center;
    top: 1.5rem;
    z-index: 2;
    padding: 0 1rem 0 1rem;
}

.overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.info-content {
    position: absolute;
    color: var(--font-secondary-color);
    padding: 2rem;
    text-align: justify;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

/* Testimonials */
#testimonials {
    padding: 2rem 0;
}

#testimonials h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.testimonials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    gap: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    transition: transform 0.5s ease-out;
}

.testimonial-card {
    background: var(--bg-primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    width: 280px;
    height: 300px;
    text-align: center;
    opacity: 0;  /* Comienza invisible */
    animation: fadeIn 0.5s ease-out forwards;  /* Aplica la animación */
}

.testimonial-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.testimonial-card h3 {
    margin: .57rem 0;
}

.testimonial-card .stars {
    color: #ffcc00;
    margin-bottom: .75rem;
}

.testimonial-card .comment {
    font-style: italic;
}

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

button {
    color: var(--font-primary-color);
    border: none;
    padding: .75rem;
    cursor: pointer;
    margin: 0 .75rem;
    font-size: 1.25rem;
}

button:hover {
    background: var(--bg-tertiary-color);
    color: var var(--secondary-color);
}

/* Contact */
#contact {
    background-color: #f5f5f5;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    padding: 2rem;
    color: var(--font-primary-color);
  }
  
  #contact h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
  }
  
  #contact p {
    font-size: 1rem;
    margin-bottom: 2.25rem;
  }

  #contact-form {
    display: grid;
    gap: 1.25rem;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    background-color: var(--bg-primary-color);
    padding: 1.25rem;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.4);
  }
  
  .form-group label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--font-primary-color);
  }
  
  .form-group input, .form-group textarea {
    width: 100%;
    padding: .75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  .submit-btn {
    padding: 12px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin: 0 auto;
  }
  
  .submit-btn:hover {
    background-color: var(--primary-interactive-color);
  }
  
  /* Contact info styles */
  .contact-info {
    margin-top: 2.25rem;
  }
  
  .contact-info h3 {
    font-size: 1.5rem;
    margin-bottom: .75rem;
  }
  
  .contact-info p {
    font-size: 1rem;
    color: var(--bg-tertiary-color);
  }
  

/* Footer */
.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem 1rem;
    background-color: var(--bg-secondary-color);
    color: var(--font-secondary-color);
    text-align: center;
}

.footer-container h4 {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.footer-info p,
.my-info p {
    margin: 0.3rem 0;
    font-size: 0.9rem;
}

.social-icons {
    margin: 0 0.4rem;
    transition: transform 0.3s ease;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}