* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variable */
:root {
    /* Colors */
    --font-primary-color: #161617;
    --font-secondary-color: #ffffff;
    --bg-primary-color: #ffffff;
    --bg-secondary-color: #161617;
    --bg-tertiary-color: #999999;
    --primary-color: #0066cc;
    --primary-interactive-color: #0071e3;
    --secondary-color: #f5f5f7;
    --secondary-interactive-color: #ff8c42;
    --footer-text: #f5f5f7;

    /* Font sizes */
    --font-title: 1.75rem;
    --font-heading: 1.5rem;
    --font-sub-heading: 1.25rem;
    --font-medium: 1rem;
    --font-small: .85rem;

    /* Font weight */
    --font-weight-thin: 300;
    --font-weight-normal-thin: 400;
    --font-weight-normal: 500;
    --font-weight-bold: 700;
    --font-weight-extrabold: 900;

    /* Font Style */
    --font-family-content: "Inter", sans-serif;
}

/* General */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--bg-primary-color);
}

section {
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--font-secondary-color);
}

p {
    font-size: var(--font-medium);
}

/* Images */
img {
    width: 100%;
    height: auto;
}

.social-links a img {
    transition: fill 0.5s ease;
    cursor: pointer;
}

.creator img {
    width: 24px;
    border-radius: 4px;
}

/* Buttons */
.btn {
    font-size: var(--font-small);
    padding: .65rem 1rem;
    border-radius: 30px;
    font-weight: var(--font-weight-normal-thin);
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-interactive-color);
}

.btn-secondary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
}

.btn-secondary:hover {
    color: var(--font-secondary-color);
    background-color: var(--primary-interactive-color);
    border: none;
}

/* Navigation */
header {
    position: relative;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .25rem 1rem;
    background-color: rgb(22, 22, 23);
}

.navbar a {
    color: var(--bg-tertiary-color);
}

.bar {
    height: 2px;
    width: 20px;
    background-color: var(--bg-tertiary-color);
    color: var(--bg-tertiary-color);
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Hamburguer menu */
.menu {
    display: none;
    background-color: var(--bg-secondary-color);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    transition: all .3seg ease;
}

.menu-active {
    display: flex;
    flex-direction: column;
    transform: translateY(0);
}

li a {
    list-style: none;
    color: var(--bg-tertiary-color);
    cursor: pointer;
}

.menu li {
    display: flex;
    align-items: center;
}

.menu li:hover {
    background-color: var(--bg-tertiary-color);
}

.menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    width: 20px;
}

.menu-icon.open .bar:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.menu-icon.open .bar:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    top: -5px;
}

/* Hamb menu list */
.menu-list li {
    display: flex;
    align-items: center;
    height: 5rem;
    cursor: pointer;
}

.menu-list li a {
    padding-left: 2.5rem;
    font-size: 1.75rem;
    font-weight: var(--font-weight-normal);
    color: var(--font-secondary-color);
}

/* Hero */
#hero {
    position: relative;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img,
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-img {
    z-index: 1;
}

.hero-img .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.content {
    position: relative;
    z-index: 3;
    text-align: center;
}

.content h1 {
    margin: 0 auto 2rem auto;
    width: 70%;
    color: var(--font-secondary-color);
    font-size: var(--font-title);
    line-height: 1.5;
}

.social-links {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    right: 1rem;
}

.content .btn-secondary {
    margin-left: 1rem;
}

/* Creator */
.creator {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: var(--bg-secondary-color);
    padding: .5rem;
    color: var(--font-secondary-color);
}

.creator p {
    font-size: .85rem;
}

.creator-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

/* Info */
#info {
    display: flex;
    flex-direction: column;
}

.img-header {
    position: relative;
}

.info-img,
.info-content {
    width: 100%;
    height: auto;
}

.section-header {
    position: absolute;
    color: var(--font-secondary-color);
    width: 100%;
    text-align: center;
    top: 1.5rem;
}

.info-content {

}

/* Footer */
footer {
    background-color: black;
}